{% extends "cloudedbats_base.html" %}

{% load staticfiles %}

{% block title %}
  CloudedBats - Introduction
{% endblock title %}


{% block content-left-area %}

{% endblock content-left-area %}


{% block content-alerts %}

{% endblock content-alerts %}


{% block content %}


<h3>Introduction</h3>

<p>Welcome to CloudedBats.
</p>

<p>CloudedBats is a free and open software project for bat monitoring. 
The basic set up for a CloudedBats system is a web application, and a number 
of connected recording units that capture ultrasonic bat sound. 
</p>

<p>Software for a stand-alone version of the recording unit was developed 
during 2016. Now it's 2017 and time to develop the web application. 
</p>

<p>The web application should have functionality for:
</p>
<ul>
  <li> Configuration and control of a number of recording units. </li>
  <li> Graphical presentations of bat activity in near real time. 
       For disconnected units the results should appear next time the unit is connected to Internet. </li>
  <li> Upload, download and visualisation of selected wave files. </li>
  <li> Support for publishing survey results in the DarwinCore format. </li>
  <li> Species lists, and maybe other useful information. </li>
</ul>
	
<p>Additions planned for the recording unit:
</p>
<ul>
  <li> Web application communication.</li>
  <li> New mechanism for configuration and settings. Both for stand-alone units and via the web application.</li>
  <li> Post processing of recorded files. </li>
  <li> Basic sound analysis for bat activity that should be reported to the web application.</li>
</ul>
	
<p>This web site (<a href="http://test.cloudedbats.org">http://test.cloudedbats.org</a>) should be used for development and test. 
Parts ready for test:
</p>
<ul>
  <li> <a href="/species">Species.</a> </li>
</ul>

<hr>	
<p>More info at: <a href="http://cloudedbats.org">cloudedbats.org</a>
</p>

<p style="text-align: center;">
<br>
<!--	<img src="{% static "img/cloudedbats_logo.png" %}" alt="HTML"> -->
</p>

{% endblock content %}


{% block content-right-area %}

{% endblock content-right-area %}
