{% extends "cloudedbats_base.html" %}

{% load staticfiles %}

{% block title %}
  CloudedBats - Documentation
{% endblock title %}


{% block content-left-area %}

{% endblock content-left-area %}


{% block content-alerts %}

{% endblock content-alerts %}


{% block content %}

	<h3>Documentation</h3>
	
	<p>
	CloudedBats
	</p>

	<p>
	More info at <a href="http://cloudedbats.org">CloudedBats.org</a>
	</p>

    <p style="text-align: center;">
	<br>
<!--	<img src="{% static "img/cloudedbats_logo.png" %}" alt="HTML"> -->
    </p>

{% endblock content %}


{% block content-right-area %}

{% endblock content-right-area %}
