{% extends "cloudedbats_base.html" %}

{% load staticfiles %}

{% block title %}
  CloudedBats - Work in progress
{% endblock title %}


{% block content-left-area %}

{% endblock content-left-area %}


{% block content-alerts %}

{% endblock content-alerts %}


{% block content %}

	<h3>Work in progress...</h3>
	
	<p>
	Sorry, this part is not developed yet.
	</p>

	<p>
	More info here: <a href="/documentation">Documentation</a>
	</p>

    <p style="text-align: center;">
	<br>
<!--	<img src="{% static "img/cloudedbats_logo.png" %}" alt="HTML"> -->
    </p>

{% endblock content %}


{% block content-right-area %}

{% endblock content-right-area %}
