{% extends "cloudedbats_base.html" %}

{% load staticfiles %}

{% block title %}
  CloudedBats - Documentation
{% endblock title %}


{% block content-left-area %}

{% endblock content-left-area %}


{% block content-alerts %}

{% endblock content-alerts %}


{% block content %}


<h3>Documentation</h3>
	
<p>Note: CloudedBats is under development. 
More: <a href="/introduction">Introduction.</a>
</p>

<hr>
<!-- === Bat activity=== -->
<h4 id="doc_bat_activity">Bat activity</h4>

<p>Not available yet.
</p>
<p>Purpose: To view <i>near real time</i> bat activity from connected recording units.
</p>


<hr>
<!-- === Sound === -->
<h4 id="doc_sound">Sound</h4>

<p>Not available yet.
</p>
<p>Purpose: Upload, download and visualisation of wave files. 
Mainly for manual species identification and collaboration with others. 
</p>


<hr>
<!-- === Species === -->
<h4 id="doc_species">Species</h4>

<p>Scientific names and species lists are important for biological monitoring. 
IUCN maintains a global red list of threatened species, 
and for some species groups the list is comprehensively assessed. 
Mammals are in such a group and it can therefore be used for most of the bats. 
As always, there are different opinions about scientific names and species classification, 
but this list may work as a first try as a taxonomic backbone for CloudedBats. 
</p>
<p><b>Filters</b>: It is possible to apply filters to the shown list of species. 
Filters are available for <u>countries</u>, <u>families</u>, <u>genus</u> and <u>red list categories</u>. 
</p>
<p><b>Species table</b>: The species table is sorted on scientific names. 
The rows in the family, genus and scientific name columns are <u>linked by name to Wikipedia</u>. 
The 'IUCN Red List' field are <u>linked by id to IUCN</u>, 
and the rows in the EOL column are <u>linked by name to Encyclopedia of Life</u>.
</p>
<p><b>Download</b>: The species table can be downloaded as a tab separated text file. 
This type of files can be opened in a spread sheet program like Microsoft Excel or LibreOffice Calc. 
</p>

<hr>
<!-- === WURBs === -->
<h4 id="doc_wurbs">WURBs</h4>

<p>Not available yet.
</p>
<p>Purpose: To maintain configuration and settings files for connected and stand alone recording units.
</p>

<hr>
<!-- === WURB locations === -->
<h4 id="doc_wurb_locations">WURB locations</h4>

<p>Not available yet.
</p>
<p>Purpose: To add information (metadata) about recording events.
</p>


<hr>
<!-- === Bat occurrencies === -->
<h4 id="doc_bat_occurrencies">Bat occurrencies</h4>

<p>Not available yet.
</p>
<p>Purpose: To register identified species at recording events. 
(Info should be possible to map to occurrence records in DarwinCore.)
</p>


<hr>
<!-- === Surveys === -->
<h4 id="doc_surveys">Surveys</h4>

<p>Not available yet.
</p>
<p>Purpose: To maintain surveys, and information about the surveys.
</p>


<hr>
<!-- === Publish === -->
<h4 id="doc_publish">Publish</h4>

<p>Not available yet.
</p>
<p>Purpose: To publish surveys in the DarwinCore-Archive format.
</p>


<hr>
<!-- === DarwinCore-Archive === -->
<h4 id="doc_darwincore_archive">DarwinCore-Archive</h4>

<p>Not available yet.
</p>
<p>Purpose: For download, or automatic harvesting via a REST API, of published surveys. 
</p>
<p>Final note: When reaching this point, your data can be shared globally. To learn more, search for keywords like
DarwinCore, DarwinCore-Archive (DwC-A), IPT, GBIF, TDWG or Altas of Living Australia (ALA). 
GBIF and ALA are also free and open software. Clones of ALA are set up by natural history museums in other countries. 
Many of the national museums already have their own IPT servers to share data in the DwC-A format. 
</p>


<hr>
<!-- === Development and test === -->
<h4 id="doc_development_and_test">Development and test</h4>

<p>To be used during development. Will be removed later.
</p>


{% endblock content %}


{% block content-right-area %}

{% endblock content-right-area %}
