{% extends "web_base.html" %}

{% load static %}

{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Recording control</h2>
        </div>
        <div class="panel-body">
			<a class="btn btn-default" 
				href="/control/start_rec"> Start recording
			</a>
			<a class="btn btn-default" 
				href="/control/stop_rec"> Stop recording
			</a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">WURB control (Raspberry Pi only)</h2>
        </div>
        <div class="panel-body">
			<p>
				<a class="btn btn-default" 
					href="/control/wurb_shutdown"> Shutdown
				</a>
				<a class="btn btn-default" 
					href="/control/wurb_reboot"> Restart
				</a>
			</p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Info</h2>
        </div>
        <div class="panel-body">
			<div class="table-container">
				<table class="table">
				<tr>
				<td>Date: </td><td> {{ sunset_dict.date }} </td>
				<td>Dawn: </td><td> {{ sunset_dict.dawn }} </td>
				</tr>
				<tr>
				<td> </td><td> </td>
				<td>Sunrise: </td><td> {{ sunset_dict.sunrise }} </td>
				</tr>
				<tr>
				<td>Latitude: </td><td>{{ sunset_dict.latitude }} </td>
				<td>Sunset: </td><td> {{ sunset_dict.sunset }} </td>
				</tr>
				<tr>
				<td>Longitude:  </td><td>{{ sunset_dict.longitude }} </td>
				<td>Dusk: </td><td> {{ sunset_dict.dusk }} </td>
				</tr>
				</table>
			</div
        </div>
    </div>

{% endblock content%}
