
  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 800px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  a:link {
    color: black;
  }
  a:visited {
    color: black;
  }
  a:hover {
    color: black;
  }
  a:active {
    color: black;
  }

  /* Set black background color, white text and some padding */
  footer {
    background-color: #444;
    color: white;
    padding: 15px;
  }
  footer a:link {
    color: white;
  }
  footer a:visited {
    color: white;
  }
  footer a:hover {
    color: white;
  }
  footer a:active {
    color: white;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {
      height:auto;
    } 
    .affix {
        position: static;
    }
  }

  @media screen and (min-width: 768px) {
    .affix {
        position: fixed;
    }
  }
  