{% extends "web_base.html" %}

{% block content %}

			{% block standard-alerts %}
			{% endblock standard-alerts %}
			
            <div class="col-sm-9" id="content">
                {% block doc-content %}
                                                         
                {% endblock doc-content %}
            </div>

            <div class="col-sm-3" id="sidebar">
                {% block sidebar %}
                <ul class="nav">
                    <li><a href="/control/">Control</a></li>
                    <li><a href="/setup/">Setup</a></li>
                    <li class="nav-divider"></li>
                    <li><a href="/documentation/">Documentation</a></li>
                    <li class="nav-divider"></li>
                   <li><a href="/development/">Development</a></li>
                     <li class="nav-divider"></li>
                    <li><a href="/about/">About</a></li>
                </ul>
                {% endblock sidebar %}
            </div>

{% endblock content%}
